<label>@FieldLabel</label>
@if (ValueList != null)
{
    <InputText @bind-Value="@InputValue">
    </InputText>
    <button onsubmit="@OnValueSubmitted()" type="button">Add</button>
    <ul class="sanList">
        @foreach (var listVal in ValueList)
        {
        <li>@listVal</li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private string? InputValue { get; set; }

    [Parameter] public required string FieldLabel { get; set; }
    [Parameter]
    public List<string>? ValueList { get; set; }

    private List<string>? OnValueSubmitted()
    {
        if (string.IsNullOrEmpty(InputValue))
        {
            return ValueList;
        }
        ValueList?.Add(InputValue);
        InputValue = string.Empty; 
        StateHasChanged();
        return ValueList;
    }
}
